@{
	ViewBag.Title = "Index";
}


<h2>Explore the discussions</h2>
<br />

@if(ViewBag.Message != null)
{
	<h2 class="alert-succes">@ViewBag.Message></h2>
}

<br />

@foreach(OpenDiscussion_AutentificareIdentity.Models.Discussion discussion in ViewBag.Discussions)
{
	<div class ="card">
		@Html.Partial("DiscussionsInfo", discussion)
		<a class="btn btn-success" href="/Discussion/Show/@discussion.DiscussionId"> Show discussion</a>
	</div>
	<br />
	<br />
}


<div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="@ViewBag.PaginationBaseUrl=1" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            @for (int i = 1; i <= ViewBag.lastPage; i++)
            {
                <li class="page-item"> <a class="page-link" href="@ViewBag.PaginationBaseUrl=@i">@(i)</a> </li>
            }

            <li class="page-item">
                <a class="page-link" href="@ViewBag.PaginationBaseUrl=@(ViewBag.lastPage)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

	