@model OpenDiscussion_AutentificareIdentity.Models.Discussion


<h3 class="newdiscussion">What's on your mind?</h3>
<br />
<div class="container1">
	<div class="row">
		<div class="set">
			@using (Html.BeginForm(actionName: "New", controllerName: "Discussion", method: FormMethod.Post))
			{
				@Html.ValidationSummary(false, "", new { @class = "text-danger"})
				<div class="form-group">
					@Html.Label("DiscussionName", "Name of the Discussion")
					<br />
					@Html.TextBox("DiscussionName", null, new { @class = "form-control"})
					@Html.ValidationMessage("DiscussionName", null, new { @class = "text-danger" })
				</div>
				
				<div class="form-group">
					@Html.Label("Text", "Describe subject")
					<br />
					@Html.TextBox("Text", null, new {@class = "form-control"})
					@Html.ValidationMessage("Text", null, new { @class = "text-danger" })
					
					
				</div>
				
				<br/><br />
				<label> Category </label>
				@Html.DropDownListFor(m => m.CategoryId, new SelectList(Model.selectCategory, "Value", "Text"),
			"Selectati categoria", new { @class = "form-control"})

				

				@Html.ValidationMessageFor( m => m.CategoryId, null, new { @class = "test-danger"})
				<br/><br/>
				<button class="btn btn-success" type = "submit" > Finished </button>

			}

		</div>
	</div>
</div>