@model OpenDiscussion_AutentificareIdentity.Models.Discussion

@{
    ViewBag.Title = "Add discussion";
}

<center>
	<h1 class="newdiscussion">What's on your mind?</h1>
	<br />
	<br />
	<h3> Welcome to the Wishy-Washy! </h3>
	<br />

	<h4>You can wash your mind, writing on the website anything you want. You can make friends who think the same and you can find the solution to your problem
		Down below you need to complete some boxes. This will help people to find faster your post. 
	</h4>
</center>

<br />
<div class="container1">
	<div class="row">
		<div class="set">
			@using (Html.BeginForm(actionName: "New", controllerName: "Discussion", method: FormMethod.Post))
			{
				@Html.ValidationSummary(false, "", new { @class = "text-danger"})
				<div class="form-group">
					@Html.Label("DiscussionName", "Name of the Discussion")
					<br />
					@Html.TextBox("DiscussionName", null, new { @class = "form-control"})
					@Html.ValidationMessage("DiscussionName", null, new { @class = "text-danger" })
				</div>
				<br />
				<div class="form-group">
					@Html.Label("Text", "Describe subject")
					<br />
					@Html.TextBox("Text", null, new {@class = "form-control"})
					@Html.ValidationMessage("Text", null, new { @class = "text-danger" })
					
					
				</div>
				
				<br/>
				<label> Category </label>
				@Html.DropDownListFor(m => m.CategoryId, new SelectList(Model.selectCategory, "Value", "Text"),
			"Selectati categoria", new { @class = "form-control"})

				

				@Html.ValidationMessageFor( m => m.CategoryId, null, new { @class = "test-danger"})
				<br/><br/>
				<center>
					<button class="btn btn-success" type="submit"> Finished </button>
				</center>
				

			}

		</div>
	</div>
</div>