@model OpenDiscussion_AutentificareIdentity.Models.Discussion

@* Afisarea unei postari impreuna cu csategoria din care face parte *@

@if (TempData["message"] != null)
{
	<div class="alert @TempData["messageType"]">
		@TempData["message"]
	</div>
}

<br/>

<div class="card">
	@Html.Partial("DiscussionsInfo", Model)
	@if (ViewBag.AfisareButoane == true && Model.UserId == ViewBag.UserCurent || ViewBag.EsteAdmin)
	{
		<div class="d-flex">
			   <a class=" btn btn-success" href="/Discussion/Edit/@Model.DiscussionId">Edit post</a>
			   <form method ="post" action="/Discussion/Delete/@Model.DiscussionId">
				   <button class="btn btn-danger" type="submit" > Delete post </button>
		      </form>
		</div>

	}

</div>

@* Afisare comentarii impreuna cu butoanele de editare si stergere*@


@using (Html.BeginForm("Show", "Discussion", FormMethod.Get, new { @class = "form-horizontal sortare" }))
{
    var selectList = new List<SelectListItem>();
    selectList.Add(new SelectListItem { Value = "dateAsc", Text = "Oldest" });
    selectList.Add(new SelectListItem { Value = "dateDesc", Text = "Newest" });
	selectList.Add(new SelectListItem { Value = "titleAsc", Text = "Alphabetically (ascending)" });
	selectList.Add(new SelectListItem { Value = "titleDesc", Text = "Alphabetically (descending)" });
   


    <div class="form-group">
		<div class="container">
			<div class="row">
				<div class="col-lg-2"></div>
				<div class="col-lg-8">

        @Html.Label("sort", "Sort comments", new { @class = "col-lg-2 control-label" })
       <!-- <div class="col-sm-3"> -->
	
            @Html.DropDownList("sort", new SelectList(selectList, "Value", "Text"), null, new { @class = "form-control" })
		<button type="submit" class="btn btn-success">Yup!</button>
    </div>
			</div>
		</div>
	</div>

}
<br />


@foreach (var comm in Model.Comments)
{
  <div class="card-body">

	<div class="container">
		<div class="row">
				<div class="card">

			<div class="col-md-2"></div>
			<div class="col-md-8">
				<div>
					<p>@comm.Content</p>
					<small>@comm.DateComm</small>
					<strong><i class="bg-info bi-person"></i>@comm.User.UserName</strong>
				</div>
				<br>

				@if (comm.UserId == ViewBag.UserCurent || ViewBag.EsteAdmin)
				{
					<div class="d-flex">
						<div>
							<a class="btn btn-outline" href="/Comments/Edit/@comm.CommentId"><i class="edit comm"></i>Edit the comment</a>
						</div>
						<div>
							<form method="post" action="/Comments/Delete/@comm.CommentId">
								<button class="btn btn-delete-comm" type="submit"><i class="bi bi-trash"></i>Delete the comment</button>
							</form>
						</div>
					</div>

				}
				<br />

			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
	</div>
	</div>

}


@* Afisarea formularului in care se poate adauga un comentariu*@

@*@if (ViewBag.EsteUser || ViewBag.EsteAdmin || ViewBag.EsteModerator)*@

<div class="container">
	  <div class="row">
		  <div class="col-md-2"></div>
		  <div class="col-md-8">
			  <div class ="card">
				  <form method="post" action="/Discussion/Show/@Model.DiscussionId">

					  <div class="card-body">
						  <input type="hidden" name="DiscussionId" value="@Model.DiscussionId" />
						  <label>What do you want to say?</label>
						  <br/>
						  <textarea class="form-control" name="Content"></textarea>
						  @Html.ValidationMessage("Content", null, new {@class = "text-danger"})
						  <br/><br/>
						  <button class="btn btn-success" type="submit">Comment</button>
					  </div>

				  </form>
			  </div>
		  </div>
		  <div class="col-md-2"></div>
	  </div>
</div>

	