@model OpenDiscussion_AutentificareIdentity.Models.Category


@{
    ViewBag.Title = "Edit the category";
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm(controllerName: "Categories", actionName: "Edit", method: FormMethod.Post))
{
    
    @Html.Hidden("CategoryId")
    

        <div class="form-group">
            @Html.Label("CategoryName", "New category name")
            @Html.Editor("CategoryName", new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessage("CategoryName", null, new { @class = "text-danger" })
        </div>
        <br />

        <br />

        <button class="btn btn-success" type="submit">Commit changes</button>
}


