@*
@model OpenDiscussionPlatform.Models.ApplicationUser
@{
    ViewBag.Title = "Users";
}

<br />
<br />

<div class="panel panel-default">
    <div class="panel-body">
        <h3 class="text-center">@ViewBag.Title</h3>
    </div>
</div>
<br />

<div class="panel panel-default">
    <div class="panel-heading">username: @Html.ActionLink(linkText: (string)Model.UserName, actionName: "Show", controllerName: "Account", routeValues: new { id = Model.UserId }, htmlAttributes: null)</div>

    <div class="panel-body">
        <i class="glyphicon glyphicon-envelope"></i> email: <span class="label label-default">@Model.Email</span>
        <br /><br />

        <i class="glyphicon glyphicon-th-list"></i> role: @ViewBag.roleName
        <br /><br />
    </div>


    @if ((string)Model.UserId != ViewBag.currentUser)
    {
        <div class="panel-footer">
            @using (Html.BeginForm(actionName: "Delete", controllerName: "Users", routeValues: new { id = @Model.Id }))
            {
                @Html.HttpMethodOverride(HttpVerbs.Delete)
                <br />
                <button class="btn btn-danger" type="submit">delete user</button>
            }
        </div>
    }
</div>
*@